.focusHighlightWrapper {
  position: relative;
}

.focusHighlight {
  display: block;
}

.focusHighlightWrapper input:focus-visible + .focusHighlight,
.focusHighlightWrapper textarea:focus-visible + .focusHighlight {
  position: absolute;
  right: 0.5rem;
  bottom: -0.25rem;
  left: 0.25rem;
  z-index: 10;
  height: 0.25rem;
  pointer-events: none;
  background: theme("colors.kac-gold");
  clip-path: polygon(0 22%, 100% 0, 98% 86%, 3% 100%);
}
