.focusHighlightWrapper {
  position: relative;
}

.focusHighlight {
  display: block;
}

.focusHighlightWrapper input:focus-visible + .focusHighlight,
.focusHighlightWrapper textarea:focus-visible + .focusHighlight {
  position: absolute;
  inset: -5px;
  z-index: -2;
  pointer-events: none;
  border: 10px solid theme("colors.kac-gold-light");
  transform: rotate(-0.25deg) skewX(-2.5deg);
  transform-origin: center;
}
