.panelFrame {
  position: relative;
}

.panelFrame::before {
  content: "";
  --size: 4px;
  --skew-shift-x: 3px;
  --skew-shift-y: 3px;
  position: absolute;
  inset: -4px;
  pointer-events: none;
  border-width: var(--size);
  clip-path: polygon(
    var(--skew-shift-x) var(--skew-shift-y),
    calc(100% - var(--skew-shift-x)) var(--skew-shift-y),
    100% 100%,
    var(--skew-shift-x) calc(100% - var(--skew-shift-y))
  );
}
