.hoverGloss {
  position: relative;
  overflow: hidden;
}

.hoverGloss::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 150%;
  pointer-events: none;
  background-size: 100% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 50;
  transform: translate(-50%, -100%) rotate(45deg);
  background-image: linear-gradient(
    to right,
    #ffffff80 0%,
    #ffffff80 25%,
    transparent 25%,
    transparent 30%,
    #ffffff80 30%,
    #ffffff80 100%
  );
  transition:
    transform 0.75s ease-in-out,
    opacity 0.2s ease-in-out;
}

.hoverGloss:hover::after {
  opacity: 1;
  transform: translate(200%, 100%) rotate(45deg);
}
